<!DOCTYPE html>
<html>
  <head>
    <title>GotechRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <nav>
      <%= link_to("Jornadas", events_path) %>
      <%= link_to("Cursos", courses_path) %>
    </nav>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
